use_nix
virtualenv venv
source venv/bin/activate
export GROUP_ID=1696646930526484
export API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJOYW1lIjoiZGVtbyIsIlN1YmplY3RJRCI6IjE2OTY2NDY5MzAxMDU4MDAiLCJQaG9uZSI6Ik1UY3pORFUzTWpZeU56ST0iLCJHcm91cElEIjoiMTY5NjY0NjkzMDUyNjQ4NCIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6IjEzMTAzMzI1MjFAcXEuY29tIiwiQ3JlYXRlVGltZSI6IjIwMjMtMTAtMDcgMTQ6NDU6NTQiLCJpc3MiOiJtaW5pbWF4In0.Llpdkq5ejCKLt-MbVmvH-MwgfbvrDhtH5MPYb5WXeeDq0KvGjhlZa85hzbrD3kYdPvhExz1QuCSfE6r_myprfAacvbbciL3L_E4NFGOZSgRg3XlhE_NZJXPdx5CULAN7Y9Xq_hRk3hpfOEtZA2jEVD3cJua6lX8pLhkb4KSZ12JUBGwmOEwPzyz2oYf8Wd21J0_vgpeaeJIcHBnvhKIfReVuT7qUWdKa446PBLjZZRD6MVIZCGIFOxJ_GioPooLhIvVn-cEqo-H3Xr5gEO80XjYSL2VRlOVqrx5GY-kPuUM4NdMPuVAWPHzb38qINjMwksiBtZ5SPEGl1IQ69rn4Ig